/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#sbpr_user_list_container {
    min-height: 50px; /* Ensure it has some height even when empty */
}

#sbpr_user_list_container .sbpr-user-item {
    display: block;
    margin-bottom: 5px;
}

#sbpr_user_list_container .sbpr-loading,
#sbpr_user_list_container .sbpr-no-users {
    color: #666;
    font-style: italic;
}
